{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}        {{! model.addAttribute(key)}}
        <tr>
            <th>{{id}}</th>
            <td>{{title}}</td>
            <td>{{content}}</td>
        </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>     {{! go to edit method : GetMapping("Articles/{id}/edit)"}}
{{! --POST, GET, UPDATE, DELETE}}
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>     {{! go to delete method : GetMapping("Articles/{id}/delete)"}}
<a href="/articles">Go to Article List</a>
{{>layouts/footer}}